* {
	box-sizing: inherit;
}

*:after,
*:before {
	box-sizing: inherit;
}

html {
	font-size: 10px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: $primaryColour;
	//background: linear-gradient(to bottom, $primaryColour 0%, darken( $primaryColour, 15% ) 100%);
}

body {
	font-family: $ffBase;
	font-weight: $fwBase;
	line-height: $lhBase / $fzBase;
	@include font-size($fzBase);
	color: black;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
